<h1 class="page-title">Write your blog below:</h1>

<form action="/blog" method="POST">
    <input name="title" type="text" placeholder="Enter blog title">
    <textarea id="blog-comment" name="comment" placeholder="Enter your blog comment"></textarea>
    <button type="submit">Submit</button>
</form>

<!-- Display existing blogs -->
{{#each blogs}}
  <div class="blog-container">
    <div class="top-line">
      <h3 class="blog-title">{{this.title}}</h3>
      <p class="blog-author">Posted by {{user.userName}} on {{createdAt}}</p>
    </div>
    <p class="blog-comment">{{this.text}}</p>
    <div class="blog-actions">
      <form action="/blogs/{{this.id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn-delete">Delete</button>
        <a href="/blogs/{{this.id}}/edit" class="btn-update">Update</a>
      </form>
    </div>
</div>
{{/each}}
