<h1 class="page-title">Community Posts</h1>

{{#each blogs}}
  <div class="blog-container">
    <div class="top-line">
      <h3 class="blog-title">{{title}}</h3>
      <p class="blog-author">Posted by {{user.userName}} on {{createdAt}}</p>
    </div>
    <p class="blog-comment">{{this.text}}</p>

    <div class="comments">
      <hr>
      <h4>Comments:</h4>
      {{#each comments}}
        <div class="comment">
          <p class="comment-text">"{{comment}}"</p>
          <br>
          <p class="comment-details">
            <span class="comment-user">-Commented by {{user.userName}}</span>
            <span class="comment-date">on {{createdAt}}</span>
          </p>
        </div>
      {{/each}}
    </div>
    
    <!-- Add comment form -->
    <form action="/blogs/{{this.id}}/comments" method="POST">
      <input type="text" name="comment" placeholder="Enter your comment">
      <button type="submit">Submit Comment</button>
    </form>
  </div>
{{/each}}
